html {
    background-image: url(images/plantifyBackground@2x.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: gray;
}

body{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 62%; /*makes all other settings multiples of 10 instead of 16*/
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}
header {
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    background: rgba(255, 255, 255, .7);
    margin: 0;
    padding: 3px;
}

h1 {
    font-family: 'Sacramento', cursive;
    color: #e65f68;
    margin: 0;
    font-size: 3em;
    padding: 0;
}

h2 {
    position: relative;
    color: black;
    text-align: center;
    font-size: 3em;
    width: 70%;
    left: 15%;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: gainsboro;
}

h4 {
    color: black;
    text-align: center;
    font-size: 1.8em;
}
h5 {
    color: black;
    text-align: center;
    font-size: 2em;
}

.logo {
    margin: 0 10px 0 ;
    width: 30px;
    height: 29px;
    padding: 5px;
}

.main {
    background: rgba(255, 255, 255, .9);
    margin: 5% 10% 1% 10%;
    min-height: 500px;
    overflow: scroll;
}

.main_content {
    background: rgba(230, 95, 104, .1);
    margin: 15% auto auto auto;
    width: 90%;
    height: auto;
}
.main_content h2 {
    color: white;
    border: none;
    font-size: 6em;
    text-align: center;
}

p {
    color: black;
    font-size: 2em;
    text-align: center;
}
/* ### DROPDOWN MENU ### */
.dropdownMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    position: absolute;
    background: rgba(230, 95, 104, .7);
    margin: 0;
    padding: 10px;
}
.dropdown {
    align-self: flex-end;
    right: 0;
    width: 30px;
    height: 30px;
}
.dropdownContent {
    display: none;
    min-width: 150px;
}

.dropdownContent a {
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    display: block;
}
.dropdownMenu:hover .dropdownContent {
    display: block;
}
/* ### ABOUT ### */
.about_us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}
.about_us figure {
    margin: auto;
}
.about_us img {
    margin: auto 10px 10px auto;
    width: 200px;
    height: 200px;
}
.about_us figcaption {
    margin: auto auto auto 0; 
    
}
.about_us h4 {
    position: relative;
    width: 100px;
    top: -150px;
    left: 45%;
    margin: auto;
}
/* ### PLANT THEMES IMAGES ### */ 
figure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

figcaption {
    color: black;
    font-size: 1.6em;
    margin: auto auto auto 0;
    padding: 15px;
}

.themes img {
    margin: auto;
    width: 100px;
    height: 100px;
}
/* ### TABLE ### */
table {
    margin: 10% 5% 20% 5%;
    font-size: 1.6em;
    background: rgba(230, 95, 104, .7);
    border-style: none;
    
}
th {
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 5px;
}

td {
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 5px;
}
/* ### FORM ### */
.contact_form {
    display: flex;
    flex-direction: column;
    margin: 0 20% 10% 20%;
    background: rgba(230, 95, 104, .7);
}
.contact_form h5 {
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input {
    margin: auto;
    width: 20%;
    padding: 5px;
}
label {
    color: white;
    margin: auto;
    width: 20%;
    padding: 5px;
    font-size: 1.8em;
}
textarea {
    margin: auto auto 10px auto;
}

/* ### ICONS ### */
.social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}
.social h3 {
    margin: auto 10px auto 10px;
    color: black;
    font-size: 2.5em;
}
.icons {
    margin:0;
    padding: 10px;
    width: 30xp;
    height: 30px;
}